body{
    font-family: 'Roboto', sans-serif;
     color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%
}


p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}


a{
    text-decoration: none;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header section */


.link-header{
    display: inline-block;
    padding: 24px 0 24px 0;
}

.header-container{
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
}

.header{
    align-items: center;
    border: 1px solid #E7E9FC;
}

.navigation-header{
    display: flex;
    align-items: center;

    
}

.menu-header-link{
    padding: 24px 0;
      
}

.list-header{
    display: flex;
    gap: 40px;
    
}

.header-list-contacts {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.logo-item {
 font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
align-self: center;
margin-right: 76px;
}

span{
    font-family: "Raleway", sans-serif;
}

.logo-titel{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}

.link-header{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
padding: 24px 0 24px 0;
}

.link-header:focus,
.link-header:hover{
    color: #404BBF;
}

.logo-titel:active{
    color: #404BBF;
}

.address-header{
    font-style: normal;
    margin-left: auto;
}

.link-contacts{
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


.link-contacts:hover{
    color: #404BBF;
}

.link-contacts:focus{
    color: #404BBF;
}

/* section 1 */

.section-solutions {
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

.title-solutions{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto;
}

.button:hover {
    background: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}


.button{
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #4D5AE5;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        height: 56px;
        min-width: 169px;
        display: block;
        margin: auto;
        margin-top: 48px;
}


/* section 2 */


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.section-webstudio{
    padding-top: 120px;
    padding-bottom: 120px;
}


.list-webstudio{
    display: flex;
    gap: 24px;
}

.item-webstudio{
    width: calc((100% - 72px) / 4);
}

.icon-webstudio{
     width: 64;
     height: 64;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
     background-color: #F4F4Fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 8px;
}
    




.title-webstudio{
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}

.text-webstudio{
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* section 3 */

.section-team{
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-team { 
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 72px;
}

.title-section{
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
        margin-bottom: 8px;
}


 .item-team{
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }


.title-team-member{
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.text-team-img{
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}


.list-team{
    display: flex;
    align-content: start;
    gap: 24px;
    
}


.team{
    padding-top: 32px;
    padding-bottom: 32px;
}

.icon-team{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* section 4 */



.list-portfolio{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
}



.item-portfolio{
    width: calc((100% - 48px) / 3); 
}



.services{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.section-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-portfolio{
    font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 8px;
        margin-bottom: 72px;
    }

    .title-portfolio-app{
        font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2E2F42;
            margin-bottom: 8px
            
            
    }

    .text-portfolio{
        font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            
    }


.logo-item{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
}


/* section footer */

 .footer {
     background: #2E2F42;
     padding-top: 100px;
     padding-bottom: 100px;
 }
 


.footer-text{
   font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}


 .logo-footer  {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}


.logo-footer-span {
    color: #f4f4fd;
    display: inline-block;
}